.navbar {
    background-image: linear-gradient(90deg,#44318D, #2A1B3D);
    justify-content: space-between;
    padding: 10px;
}

.container-fluid {
    width: auto;
    margin-left: 0px;
    margin-right: 0px;
}

.navbar-brand {
    color: white;
    font-size: xx-large;
    display: flex;
    width: 30% !important;
}


.nav-link {
    color: white !important;
    font-size:xx-large;
}

.countrySearch {
    width: 800px;
    height: 50px;

}

.cardContainer {
    margin-bottom: 15px;
}

.card {
    margin: 0 auto;
}


.row {
    background-image: linear-gradient(90deg,#44318D, #2A1B3D);
}